* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

ul, ol{
    list-style: none;
    padding: 0;
}

div {
    display: block;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    border: 0;
    display: block;
}

.inblock {
    display: inline-block;
}

.relative {
    position: relative;
}

a{
    color: #000;
    cursor: pointer;
    text-decoration: none;
    outline-style: none;
}

a:focus, a:active, a:visited{
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    outline-style: none;
}

dd{
    display: block;
    margin-inline-start: 40px;
}

.event_contents .link1 {
    display: inline-block;
    width: 98%;
    height: 98%;
    left: 1%;
    top: 1%;
    border: 1px solid black;
    opacity: 0;
    position: absolute;
}

button {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background: none;
    border: 0;
    cursor: pointer;
    outline-style: none;
    padding: 0;
}

a, a > span, button, button > span{
    letter-spacing: 0;
}

button > span {
    position: relative;
    outline-style: none;
}

.container {
    width: 100%;
    min-height: calc(100vh - 240px);
    position: relative;
    padding: 0;
}

.popup .popup_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 200;
}

.popup .popup_box .pop_dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

}

.popup_box .pop_wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 0;
    padding-bottom: 90px;
}

.popup_box .pop_foot{
    display: flex;
    width: 100%;
    border-radius: 0 0 16px 16px;
}

.popup_box .pop_foot button{
    -webkit-box-flex: 1;
    flex: 1;
}

.btn_typeA2{
    display: inline-block;
    width: 520px;
    height: 90px;
    overflow: visible;
}

.btn_typeA2 span{
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-align: center;
    line-height: 90px;
    background: #f7f7f7;
    box-shadow: 0 5px  10px 0 rgba(0, 0, 0, 0.1);

}

.btn_typeA1{
    display: inline-block;
    width: 520px;
    height: 90px;
    overflow: visible;
}

.btn_typeA1 span{
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    background: #DA1A32;
    box-shadow: 0 5px  10px 0 rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------- */
.personal_area{
    position: relative;
    z-index: 1;
    min-height: 370px;
    background-color: #f7f7f7;
}

.w1440 {
    width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
}

.w1440 .inner {
    position: relative;
    padding-top: 190px;
}

.personal_area .order_wrapper{
    width: 100%;
    position: absolute;
    top: -110px;
    left: 0;
}

.personal_area .order_wrapper li{
    float: left;
    width: calc( (100% - 40px)/3 );
}

.personal_area .order_wrapper li:not(:first-of-type){
    margin-left: 20px;
}

.personal_area .order_wrapper li .btn_order{
    width: 100%;
    max-height: 200px;
    border-radius: 20px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    border: 2px solid #fff;
    background-color: #fff;
    background-position: center 40px;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    transition: .2s;


}

.personal_area .order_wrapper li .btn_order span{
    font-size: 24px;
}

.personal_area .order_wrapper li .btn_order .delivery{
    background-image: url("img/ic_delivery.png");
}

.personal_area .order_wrapper li .btn_order .packaging{
    background-image: url("img/ic_packaging.png");
}

.personal_area .order_wrapper li .btn_order .delivery{
    background-image: url("img/ic_favorite.png");
}

.personal_area .login_area .login_before{
    margin-top: -41px;
}

.clear::after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
}

.personal_area .login_area .tit1{
    font-weight: 200;
    font-size: 28px;
    position: relative;
    padding-left: 96px;
}

.personal_area .login_area .login_before .tit1{
    float: none;
}

.personal_area .login_area .login_before .tit1::before{
    background-image: url("img/ic_login.png");
}

.personal_area .login_area .tit1::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff no-repeat auto center;
}

.personal_area .login_area .tit1 .bold{
    font-family: inherit;
    font-size: inherit;
    font-weight: 800;
}

.personal_area .login_area .login_before .btn_set{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 48px;
}

.personal_area .login_area .login_before .btn_set dd:first-of-type .btn_typeB7{
    padding-left: 45px;
    padding-right: 45px;
    margin-right: 10px;
}

.personal_area .login_area .login_before .btn_set .btn_typeB7{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    padding: 0 30px;
}

.btn_typeB7{
    height: 80px;
    overflow: visible;
    border: 1px solid #fff;
    border-radius: 12px;
    background: #fff;
    text-align: center;
    line-height: 80px;
}

.personal_area .login_area .login_before .btn_set dd{
    font-size: 0;
}

.personal_area .login_area .login_before .btn_set .btn_typeB7 span{
    vertical-align: middle;
}

.btn_typeB7 span{
    display: inline-block;
    font-weight: 600;
    font-size: 26px;
    line-height: 28px;
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
}

.personal_area .login_area .login_before .btn_set dd{
    font-size: 0;
}

.personal_area .login_area .login_before .btn_set .btn_typeB7 em {
    display: inline-block;
    font-size: 26px;
    color: #777;
    margin-right: 17px;
    vertical-align: middle;
}

em{
    font-style: normal;
}